/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

@use "../css/style";


div.b4cs-calendar {
    background-color: white;
    border: none;
    font-size: inherit;
    box-sizing: border-box;
}

div.b4cs-calendar-month-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.5rem 1.5rem;
	font-size: 2em;
	border: 1px solid var(--b4cs-border-lighter-color);
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	border-bottom: none;
}

div.b4cs-calendar-month-nav {}

div.b4cs-calendar-month-nav button {
    border-radius: 0.5rem;
    border: 1px solid var(--b4cs-border-lighter-color);
    background-color: var(--b4cs-background-grey-color);
    padding: 0.25rem;
	color: var(--b4cs-text-lighter-color);
    align-items: center;
    overflow: visible;
    display: inline-flex;
   	width: 2rem;
	height: 2rem;
	line-height: 2rem;
	cursor: pointer;
}

div.b4cs-calendar-month-nav button:hover {
    background-color: var(--b4cs-background-darker-grey-color);
}

span.b4cs-prev-gliph,
span.b4cs-next-gliph,
span.b4cs-dropdown-gliph,
span.b4cs-cancel-gliph {
	display: inline-block;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

span.b4cs-prev-gliph,
span.b4cs-next-gliph {
	vertical-align: middle;
}

span.b4cs-prev-gliph::before {
	content: "\e805";
	font-family: "b4cs-glyphs";
	font-size: 1rem;
}

span.b4cs-next-gliph::before {
	content: "\e806";
	font-family: "b4cs-glyphs";
	font-size: 1rem;
}

div.b4cs-calendar-day-name-header,
div.b4cs-calendar-days {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
}

div.b4cs-calendar-days {
    flex-wrap: wrap;
}

div.b4cs-calendar-day-name-cell,
div.b4cs-calendar-date-cell {
	box-sizing: border-box;
    width: 14.28%;
    border: 1px solid var(--b4cs-border-lighter-color);
    border-right: 0px transparent;
    border-bottom: 0px transparent;
    padding: 0;
}

div.b4cs-calendar-date-cell div.b4cs-day-content {
    padding: 0.5rem 0.5rem;
}

div.b4cs-calendar-day-name-cell {
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0.5rem 0;
    overflow: hidden;
}

div.b4cs-calendar-day-name-cell:last-child,
div.b4cs-calendar-date-cell:nth-child(7n) {
    border-right: 1px solid var(--b4cs-border-lighter-color);
}

div.b4cs-calendar-date-cell:nth-last-child(-n+7) {
    border-bottom: 1px solid var(--b4cs-border-lighter-color);
}

div.b4cs-calendar-date-cell {
    min-height: 5em;
}

div.b4cs-calendar-date-cell.b4cs-calendar-outside-month {
    background-color: var(--b4cs-background-lighter-grey-color);
}

div.b4cs-calendar-date-cell.b4cs-calendar-today {
    background-color: var(--b4cs-background-today-color);
}

div.b4cs-calendar div.b4cs-date span.b4cs-day,
div.b4cs-calendar div.b4cs-date span.b4cs-month,
div.b4cs-calendar div.b4cs-date span.b4cs-year {
    display: none;
}

div.b4cs-calendar div.b4cs-date.b4cs-first-day span.b4cs-month {
    display: inline;
    margin-left: 0.5rem;
}

div.b4cs-calendar-event {
	font-size: 0.9em;
	margin: 1rem 0 1.5rem 0;
	position: relative;
}

div.b4cs-calendar-event .b4cs-time {
    font-size: 0.9em;
    line-height: 1em;
}

div.b4cs-calendar-event span.b4cs-time-gliph::before {
	display: none;
}

div.b4cs-calendar-event .b4cs-start-time {
    font-weight: bold;
}

div.b4cs-calendar-event div.b4cs-event-name {
    font-size: 0.9em;
    line-height: 1em;
    margin: 0.2rem 0 0 0;
}

div.b4cs-calendar-event.b4cs-category-id-1 a.b4cs-event-link {
    color: var(--b4cs-category-1-color);
}

div.b4cs-calendar-event.b4cs-category-id-2 a.b4cs-event-link {
    color: var(--b4cs-category-2-color);
}

div.b4cs-calendar-event .b4cs-calendar-hover-block {
	position: absolute;
	padding: 1rem;
	border: 1px solid var(--b4cs-border-darker-color);
	width: 280px;
    background-color: var(--b4cs-background-color);
    box-shadow: 0 3px 6px 0 rgba(0,0,0,0.2);
	overflow: hidden;
	display: none;
}

div.b4cs-calendar-event button.b4cs-clickable-caret{
	float: right;
	background-color: transparent;
	border: none;
	font-size: 1rem;
	color: var(--b4cs-text-lighter-color);
	padding: 0;
	cursor: pointer;
	width: 24px;
	height: 24px;
	line-height: 24px;
	display: block;
}

div.b4cs-calendar-event .b4cs-calendar-hover-block button.b4cs-clickable-caret {
	background-color: var(--b4cs-background-grey-color);
	border: 1px solid var(--b4cs-border-lighter-color);
	border-radius: 3px;
}

div.b4cs-calendar-event .b4cs-calendar-hover-block button.b4cs-clickable-caret:hover {
	background-color: var(--b4cs-background-darker-grey-color);
}

span.b4cs-dropdown-gliph,
span-b4cs-cancel-gliph {
	display: block;
	line-height: 24px;
	vertical-align: middle;
}

span.b4cs-dropdown-gliph::before {
	content: "\e804";
	font-family: "b4cs-glyphs";
	font-size: 1rem;
}

span.b4cs-cancel-gliph::before {
	content: "\e807";
	font-family: "b4cs-glyphs";
	font-size: 1rem;
}

div.b4cs-calendar-event .b4cs-calendar-hover-block.b4cs-calendar-hover-reveal {
	display: block;
	z-index: 1;
	left: auto;
	right: 0rem;
}

div.b4cs-calendar-date-cell:nth-child(7n+1) div.b4cs-calendar-event .b4cs-calendar-hover-block,
div.b4cs-calendar-date-cell:nth-child(7n+2) div.b4cs-calendar-event .b4cs-calendar-hover-block,
div.b4cs-calendar-date-cell:nth-child(7n+3) div.b4cs-calendar-event .b4cs-calendar-hover-block {
	left: 1rem;
	right: auto;
}

div.b4cs-calendar-event .b4cs-calendar-hover-block .b4cs-location {
	margin: 0.7rem 0 0 0;
}

div.b4cs-calendar-event .b4cs-calendar-hover-block .b4cs-address {
	margin: 0.3rem 0 0.3rem 1.1rem;
}

div.b4cs-calendar-event .b4cs-calendar-hover-block .b4cs-description {
	margin: 0.7rem 0 0 0;
	word-wrap: break-word;
	overflow: scroll;
	font-size: 0.8em;
	max-height: 150px;
}

div.b4cs-calendar-event .b4cs-calendar-hover-block .b4cs-description p {
	font-size: 0.8em;
}

@media screen and (max-width: 700px) {

    div.b4cs-calendar {
        border: 0px solid transparent;
        border-radius: 0px;
        background-color: transparent;
    }

	div.b4cs-calendar-month-header {
		border: none;
	}

	div.b4cs-calendar div.b4cs-calendar-day-name-cell {
		visibility: hidden;
		height: 0;
		position: absolute;
	}
	
	div.b4cs-calendar div.b4cs-calendar-days {
	    display: block;
	}

	div.b4cs-calendar div.b4cs-calendar-date-cell {
		border: 0px solid transparent;
		width: 100%;
	}
	
	div.b4cs-calendar div.b4cs-calendar-date-cell.b4cs-calendar-no-events {
		display: none;
	}
	
	div.b4cs-calendar div.b4cs-calendar-date-cell div.b4cs-day-content {
		display: flex;
		flex-direction: row;
	    width: 100%;
	}
	  
	div.b4cs-calendar div.b4cs-calendar-date-cell.b4cs-calendar-before {
		display: none;
	}
	
	div.b4cs-calendar div.b4cs-calendar-date-cell div.b4cs-date {
        width: 5rem;   
	}

	div.b4cs-calendar div.b4cs-calendar-date-cell div.b4cs-date-cell-inner {
        width: 100%;
	}
	
    div.b4cs-calendar-event button.b4cs-clickable-caret {
        margin-right: 1rem;
    }

    div.b4cs-calendar-date-cell div.b4cs-event-hover-block.b4cs-event-hover-reveal,
	div.b4cs-calendar-date-cell:nth-child(7n+1) div.b4cs-calendar-event .b4cs-calendar-hover-block,
	div.b4cs-calendar-date-cell:nth-child(7n+2) div.b4cs-calendar-event .b4cs-calendar-hover-block,
	div.b4cs-calendar-date-cell:nth-child(7n+3) div.b4cs-calendar-event .b4cs-calendar-hover-block {
		left: auto;
		right: 1rem;
	}

	div.b4cs-calendar div.b4cs-calendar-date-cell div.b4cs-date span.b4cs-day,
	div.b4cs-calendar div.b4cs-calendar-date-cell div.b4cs-date span.b4cs-month {
		display: block;
	}

	div.b4cs-calendar div.b4cs-calendar-date-cell  div.b4cs-date {
		background-color: var(--b4cs-primary-color);
		color: var(--b4cs-text-on-primary-color);
		padding: 5px 5px;
		width: 3.5rem;
		max-width: 3.5rem;
		text-align: center;
		font-size: 0.7rem;
		font-weight: normal;
		border-radius: 5px;
		line-height: 1rem;
		height: 4.3rem;
		margin-right: 1rem;
	}
	
	div.b4cs-calendar div.b4cs-calendar-date-cell div.b4cs-date .b4cs-date-number {
	    font-size: 1.4rem;
	    font-weight: bold;
	    line-height: 1.4rem;
    }

	div.b4cs-calendar div.b4cs-calendar-date-cell div.b4cs-date.b4cs-first-day span.b4cs-month {
		display: block;
		margin-left: 0;
	}

	div.b4cs-calendar div.b4cs-calendar-date-cell  div.b4cs-calendar-date-cell-inner {
	    width: 100%;
	}

}
