/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

@use "../css/style";

div.b4cs-event-card {
	/* Default width provides the right card size ... height is dependent on content */
	width: 330px;
    /* Default margin ensures cards are not 'squeezed' together too much */
	margin: 0.5rem 0.5rem;
	border-radius: 10px;
	overflow: hidden;
	font-size: inherit;
}

div.b4cs-event-card-image-area {
	background-image: url("https://www.cambray.org/mp3_sermons/2022/01/cambray-front-sky-CBC-1024x576-1.jpg");
	background-size: cover;
	height: 186px;
}

div.b4cs-event-card-image-area img {
	height: 186px;
	width: 330px;
	object-fit: cover;
}

div.b4cs-event-card-details-area {
	/* Add some padding around the internal text */
	padding: 1rem 1rem;
	font-size: inherit;
}

div.b4cs-event-name { 
	font-size: 1.4em;
	margin: 1rem 0;
}
